@use "../variables.scss" as *;

//layout for laptop 4k
@media only screen and (min-width: 1400px) {
  .headerStyle {
    h1 {
      font-size: 3em;
      font-weight: 200;
    }
    img {
      min-width: 60px;
      max-width: 60px;
    }
  }
  .gridBody {
    font-size: 1em;
    .rowTitle {
      h1 {
        font-size: 2em;
      }
    }
    .textbox input {
      font-size: 1.2em;
    }
    .textbox label {
      position: absolute;
      top: 15px;
      left: 5px;
      font-size: 1em;
    }
    .textbox input:focus ~ label,
    .textbox input:not(:placeholder-shown) ~ label {
      top: -20px;
      left: 0;
      font-size: 0.8em;
    }
    .myButton {
      height: 40px;
      width: 80px;
      font-size: 0.7em;
      padding: 10px;
      border-radius: 10px;
    }
    .rowResults {
      min-width: 600px;

      img {
        max-width: 120px;
      }
      ul {
        li {
          margin: auto;
        }
      }
    }
  }

  .extra {
    min-height: 290px;
  }
}
