$bg-color: #065263; //sfumatura scuro di turchese.
$color-text: #f9ad9c; //sfumatura chiaro di rosso

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: $bg-color;
  height: 100%;
}

.wrapperColumn {
  display: flex;
  justify-content: center; /* Center the grid container horizontally */
  padding-top: 50px;
}

.headerStyle {
  width: 100%;
  text-align: center;
  padding: 10px 0 20px 0;
  h1 {
    color: $color-text;
  }
}

.gridBody {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;

  h1 {
    color: $color-text;
  }

  .rowResults {
    max-width: 300px;
    padding-top: 30px;

    h3 {
      color: gray;
      padding: 0 0 7px 0;
    }
    img {
      max-width: 150px;
    }
    a {
      color: grey;
    }

    ul {
      display: flex;
      flex-direction: column;
      color: $color-text;
      width: 100%;
      list-style-type: none;

      li {
        cursor: pointer;
        padding: 5px;
        &:hover {
          color: grey;
        }
      }
    }
  }
}
.rowSearchBar {
  .textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.gridFooter {
  display: grid;
  flex-direction: column;
  height: 40px;
  background-color: #f9ad9c;
}
