$bg-color: #065263; //sfumatura scuro di turchese.
$color-text: #f9ad9c; //sfumatura chiaro di rosso
$shadow-container: inset 1px -12px 10px -4px rgba(12, 61, 72, 0.5);

@media only screen and (min-width: 961px) {
}
