$bg-color: #065263; //sfumatura scuro di turchese.
$color-text: #f9ad9c; //sfumatura chiaro di rosso
$shadow-container: inset 1px -12px 10px -4px rgba(12, 61, 72, 0.5);

@import "./_header.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: $bg-color;
  height: 100%;
}

.wrapperColumn {
  display: flex;
  justify-content: center; /* Center the grid container horizontally */
  padding-top: 50px;
}

.gridBody {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;

  h1 {
    color: $color-text;
  }
  .rowTitle {
    display: flex;
    text-align: center;
    padding: 0 10px 10px 10px;
    margin: auto;

    h1 {
      font-size: 1.5em;
    }
  }
  .rowSearchBar {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .rowResults {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 260px;
    padding: 30px 10px 0 10px;
    //overflow: scroll; inserire nello style pc
    word-wrap: break-word;
    line-height: 1.5em;
    margin: auto;

    img {
      max-width: 100px;
    }
    a {
      color: grey;
    }
    .containerCoverBook {
      display: flex;
      justify-content: center;
    }
    .containerTitleAuthors {
      display: flex;
      justify-content: center;
      padding: 20px 0 0 0;
      //box-shadow: $shadow-container; con overflow

      h3 {
        color: gray;
        padding: 0 0 7px 0;
        text-align: center;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      color: $color-text;
      width: 100%;
      list-style-type: none;

      li {
        cursor: pointer;
        padding: 5px;
        &:hover {
          color: grey;
        }
      }
    }
  }
}
.rowSearchBar {
  .textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.extra {
  min-height: 260px;
}
